.App {
  text-align: center;
  justify-content: center;
}

 .App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}


.hidden {
  visibility: hidden;
}

/* .imgObj {
  border: .5rem solid black

} */

.galleryImg {
  height:60rem;
  width: 45rem;

} 

.outline {
  align-content: center;
  justify-content: center;
}

ul {
  justify-items: center;
  align-items: center;
}


.MuiImageListItemBar-actionIcon {
  color: darkorchid;
  height: 90%
}

.delButton {
  color:darkgray;
  height: 90%;
}

.MuiImageListItemBar-title{
  font-size: 4rem;
  padding: .5rem
}

div {
  color:#222;
  font-size: 2rem;
}

img {
  border: .5rem solid white
}

button {
  color: #222
}
